<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ asset('build/bootstrap-4.3.1-dist/css/bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ asset('build/custom_css/app.css') }}" rel="stylesheet"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="nav-submenu">
                <ul>
                <li>
                    <!-- <a class="submenu_item" href="{{ path('politiqueviewAll') }}">Politique</a> -->

                <li>
                    <a class="submenu_item" href="{{ path('leaderviewall') }}">Leaders</a>
                </li>
                <li>
                    <a class="submenu_item" href="{{ path('partiviewall') }}">Partis</a>
                </li>
                <li>
                    <a class="submenu_item" href="{{ path('ethniebuild') }}">Ajouter une ethnie</a>
                </li>
                <li>
                    <a class="submenu_item" href="{{ path('nationviewall') }}">Nations</a>
                </li>
                <li>
                    <a class="submenu_item" href="{{ path('traitviewall') }}">Effets d'esprits nationaux</a>
                </li>
                <li>
                    <a class="submenu_item" href="{{ path('effetviewall') }}">Esprits nationaux</a>
                </li>
                </ul>
            </div>
        </div>
        <div class="header_bloc">
            <div class="header_content">
                <h2 class="text-white"> OPPOSITE FRONT III </h2>
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
